*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  box-sizing: border-box;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.75em;
  color: #F20F79;
  float: left;
  padding: 4px;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5em;
  color: #F2913D;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.25e;
  color: #44AFF2;
}

em {
  color: #F2913D;
  font-weight: 600;
}

main a {
  text-decoration: none;
  border-bottom: 1px #0597F2 solid;
  padding-bottom: 1px;
  color: #0597F2;
  border: none;
  transition: color 1s ease;
}

a:hover {
  color: #F20F79;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 20px 0 20px grey;
  transition: 0.5s;
}

.topHeader {
  background-color: rgba(4, 172, 191, 0.95);
  height: 50px;
}

.topHeader img {
  float: left;
  padding: 5px;
}

nav {
  background-color: rgba(255, 255, 255, 0.95);
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 7px;
  font-size: 1.25em;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 94px;
  overflow: hidden;
  background-color: white;
  z-index: 1;
  margin-bottom: 90px;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carrusel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px 0px;
}

.entry {
  padding: 30px;
  text-align: center;
}

.entry img {
  margin-bottom: 20px;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

article {
  padding: 20px 0;
}

section img,video {
  padding: 20px;
  margin: 0 auto;
}

.whatsapp{
	position:fixed;
	width:50px;
	height:50px;
	bottom:90px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:40px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
}

footer {
  background-color: #04ADBF;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 901px){
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 900px){
}
@media screen and (max-width: 680px){

}

footer small{
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}

footer a{
  color: black;
}

footer ul{
  list-style-type: none;
  overflow: hidden;
  font-size: 1.75em;
}

.footer {
  margin: 0 auto;
}

footer li{
  display: inline;
}

footer li a{
  text-decoration: none;
  color: white;
  height: 44px;
  width: 44px;
  transition: color 2s ease-in-out;
}

.fa-facebook-f:hover{
  color: #3b5998;
}
.fa-twitter:hover{
  color: #1da1f2;
}

.fa-instagram:hover{
  color: #c32aa3;
}

.fa-linkedin-in:hover{
  color: #007bb5;
}

.fa-whatsapp{
  margin-top:10px;
}

.imagen {
  margin: 0 auto;
  width: 300px;
}