/****** clases genéricas ******/
*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  box-sizing: border-box;
}

h1{
  font-family: "League Spartan", sans-serif;
  font-size: 2em;
  color: #F20F79;
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}

h2{
  font-family: "League Spartan", sans-serif;
  font-size: 1.5em;
  color: #F2913D;
}

article h2{
  text-align: center;
}

form h2{
  text-align: center;
}

h3{
  font-family: "League Spartan", sans-serif;
  font-size: 1.25em;
  color: #44AFF2;
}

.entry h3{
  text-align: center;
}

article h3{
  margin: 10px;
}

em{
  color: #F2913D;
  font-weight: 600;
}

main a{
  text-decoration: none;
  border-bottom: 1px #0597F2 solid;
  padding-bottom: 1px;
  transition: color 0.5s step-start;
}
.sinBorde{
  border: none;
}

main a:link{
  color: #0597F2;
}

main a:hover{
  color: #F20F79;
}

main a:visited{
  color: #999;
}

main a:active{
  color: #F2913D;
}

.imagen{
  margin: 0 auto;
  width: 300px;
}

.pieFoto{
  text-align: center;
}

/****** header ******/

header{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 20px 0 20px grey;
  transition: 0.3s;
}

.topHeader span{
  margin-top: 9px;
  font-size: 32px;
}

.topHeader{
  background-color: rgba(4, 172, 191, 0.95);
  height: 50px;
}

.encabezado{
  height: 50px;
  float: left;
}

.topHeader img{
  margin-top: 2px;
  float: left;
}

/****** nav menu ******/
nav{
  width: 100%;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.95);
}

nav ul{
  float: left;
  display: flex;
}

nav li{
  list-style: none;
  text-align: center;
}

nav li a{
  display: block;
  text-decoration: none;
  padding: 7px;
  font-size: 1.25em;
  font-weight: bold;
  color: slategrey;
}
nav li a:hover, nav li a.actual{
  background: #F20F79;
  color: #FFF;
}

.burgerMenu{
  float: right;
  line-height: 44px;
  width:44px;
  cursor: pointer;
  display: none;
}

/****** aside ******/
aside{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 94px;
  left: 0;
  background-color: #04ADBF;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.3s;
}

aside ul{
  display: block;
  width: 100%;
  margin-top: 20px;
}

aside ul li{
  list-style: none;
  text-align: center;
}

aside a{
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  transition: 0.5s;
}

aside ul li a:hover{
  color:#F20F79;
}

aside .botonCerrar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.25em;
  margin-left: 50px;
}

.flechaAside{
  position: fixed;
  top: 50%;
  left: 0;
  width: 30px;
  height: 50px;
  background-color: #04ADBF;
  text-decoration: none;
  font-size: 2.25em;
  font-weight: bolder;
  transition: 0.3s;
}


.flechaAside .fa-arrow-right{
  color: white;
}

/****** main ******/
main{
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 94px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 90px;
}

.parallax{
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.carrusel{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  padding: 30px 0px;
}

.entry{
  max-width: 300px;
  padding: 15px;
}

.entry p{
  text-align: justify;
}

.entry img{
  margin-bottom: 20px;
}

section{
  max-width: 800px;
  margin: 0 auto;
}

article{
  padding: 20px 0;
  overflow: auto;
}

article .centrado{
  text-align: center;
}

section img,video{
  padding: 20px;
  margin: 0 auto;
}

.controlesVideo{
  display: flex;
  justify-content: center;
}

.controlesVideo input[type="button"]{
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: #FFF;
  border: 2px solid #04ADBF;
  box-shadow: 0.5px 1px 1px gray;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.controlesVideo input[type="button"]:hover{
  background-color: rgba(242, 15, 121, 0.171);
}

/****** footer ******/

.whatsapp{
	position:fixed;
	width:50px;
	height:50px;
	bottom:95px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:40px;
	text-align:center;
  font-size:1.875em;
	box-shadow: 2px 2px 3px #999;
}

footer{
  background-color: #04ADBF;
  text-align: center;
  width: 100%;
}

footer small{
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}

footer a{
  color: black;
}

footer ul{
  list-style-type: none;
  overflow: hidden;
  font-size: 1.75em;
}

.footer{
  margin: 0 auto;
}

footer li{
  display: inline;
}

footer li a{
  text-decoration: none;
  color: white;
  height: 44px;
  width: 44px;
  transition: color 2s ease-in-out;
}

.fa-facebook-f:hover{
  color: #3b5998;
}
.fa-twitter:hover{
  color: #1da1f2;
}

.fa-instagram:hover{
  color: #c32aa3;
}

.fa-linkedin-in:hover{
  color: #007bb5;
}

.fa-whatsapp{
  margin-top:10px;
}

/****** actividades ******/

/*Actividad 7.1*/
img:not([alt]){
  border: 3px solid red;
}

a[type="application/pdf"]::after{ 
  content: "";
  display: inline-block;
  background: url("../images/icono-pdf.png") no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 0 0 5px;
}

a[href$=".pdf"]::after{ 
  content: "";
  display: inline-block;
  background: url("../images/icono-pdf.png") no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 0 0 5px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1024px){
  .encabezado{
    margin-left: 10px;
  }
  nav{
    padding-left: 10px;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 1023px){
  header.ocultar{
  transform: translateY(-100%);
}
  #flechaAside.ocultar{
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 680px){
  .burgerMenu{
    display: block;
  }
  nav{
    position: absolute;
    right: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #04ADBF;
    top: 50px;
    transition: 0.3s;
    text-align: center;
  }
  nav.mostrar{
    right: 0;
  }
  nav ul{
    display: block;
    width: 100%;
  }
  nav ul li a{
    color: white;
    
  }
  aside{
    top: 50px;
  }
  main{
    margin-top: 50px;
  }
  .carrusel{
    display: inline;
  }
}
