table {
    caption-side: bottom;
    table-layout: auto;
    max-width: 1500px;
    border-collapse: collapse;
    margin: 10%;
    border: 1px solid #F2913D;
    text-align: center;
}

tr:first-child {
    background-color: #f4ae71;
}

tr:nth-child(even){
    background-color: #fdf2e7;
}