table {
    caption-side: bottom;
    table-layout: auto;
    max-width: 1500px;
    border-collapse: collapse;
    margin: 10%;
    border: 1px solid #F2913D;
    text-align: center;
}

tr:first-child {
    background-color: #f4ae71;
}

tr:nth-child(even){
    background-color: #fdf2e7;
}

body {
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                    radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
main{
    margin-top: 120px;
}